$smallScreen: 575.98px;
$fontBody: 0.9rem;
$fontBodySmallScreen: 1rem;
$avatarSize: 30px;
$avatarSizeSmallScreen: 40px;

$vkIconUrl: "../../img/auth/vk.jpg";
$okIconUrl: "../../img/auth/ok.jpg";
$fbIconUrl: "../../img/auth/fb.jpg";
$gooIconUrl: "../../img/auth/google.jpg";
$mailIconUrl: "../../img/auth/mail.jpg";
$yaIconUrl: "../../img/auth/ya.jpg";
$moreIconUrl: "../../img/auth/more.jpg";

$avatarIconDefaultUrl: "../../img/avatars/default.jpg";

$uploadIconUrl: "../../img/icons/image-upload.png";
$videoIconUrl: "../../img/icons/video.png";
$emojiIconUrl: "../../img/icons/emoji.png";

$playVideoIconUrl: "../../img/icons/play_video.png";

#CommentZone {
  .d-none {
    display: none;
  }
  .d-block {
    display: block;
  }
  .pointer {
    cursor: pointer;
  }
  .text-dim {
    color: #a6adb3;
  }
  .cz-main-text {
    resize: none;
    outline: none;
    overflow: hidden;
    margin: 0;
    background: transparent;
  }
  .cz-text-green {
    color: #22c792;
  }
  .font-small {
    font-size: small;
  }
  .cz-btn-grey {
    border-color: #dee2e6;
    color: #b6b6b6;
    &:hover {
      background-color: #6c757d;
      border-color: #6c757d;
      color: #fff;
    }
  }
  .cz-btn-muted {
    background-color: #728094;
    border-color: #728094;
    color: #fff;
    &:hover {
      background-color: #5f6b75;
      border-color: #5f6b75;
    }
  }
  .cz-is-invalid {
    border-color: #dc3545 !important;
  }
  .close {
    text-shadow: none !important;
    opacity: 1 !important;
  }
  .toast-header {
    background-color: transparent !important;
    border: none !important;
  }
  .cz-comments-body-header {
    font-size: 1rem;
  }
  .cz-avatar-block {
    padding-top: 6px;
    .cz-avatar {
      width: $avatarSize;
      height: $avatarSize;
      display: block;
      border-radius: 2px;
      &.cz-simbol {
        line-height: 29px;
        font-size: 14px;
      }
    }
  }
  .cz-avatar-min {
    width: 20px;
    height: 20px;
    display: inline-block;
    &.cz-simbol {
      line-height: 20px;
      font-size: 13px;
    }
  }
  .cz-author-name {
    font-weight: 500;
  }
  .cz-parent-name {
    &::before {
      content: "";
      position: absolute;
      top: 4px;
      left: 4px;
      width: 15px;
      height: 15px;
      background: url("../../img/icons/reply.png") center / cover no-repeat;
      opacity: 0.5;
    }
  }
  .cz-button-action {
    color: #aaaaaa;
  }
  .cz-simbol {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: #c4ccdf;
  }
  .cz-icon-authorize {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin: 5px;
    margin-left: 0;
    border-radius: 10%;
  }
  .cz-icon-authorize-menu {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 10%;
    vertical-align: text-bottom;
    margin-right: 5px;
  }
  .cz-auth-vk {
    background: url($vkIconUrl) center / cover no-repeat;
  }
  .cz-auth-ok {
    background: url($okIconUrl) center / cover no-repeat;
  }
  .cz-auth-fb {
    background: url($fbIconUrl) center / cover no-repeat;
  }
  .cz-auth-goo {
    background: url($gooIconUrl) center / cover no-repeat;
  }
  .cz-auth-mail {
    background: url($mailIconUrl) center / cover no-repeat;
  }
  .cz-auth-ya {
    background: url($yaIconUrl) center / cover no-repeat;
  }
  .cz-auth-more {
    background: url($moreIconUrl) center / cover no-repeat;
  }
  .close {
    outline: none;
  }
  .modal.fade {
    display: block;
    background: #0000004d;
  }
  .cz-registration-avatar {
    width: 30px;
    height: 30px;
    background: url($avatarIconDefaultUrl) center / cover no-repeat;
  }
  .cz-posted-none {
    opacity: 0.6;
  }

  .cz-icon-control-to-form {
    width: 31px;
    height: 31px;
    display: block;
    background: #f3f3f3;
    border-radius: 50%;
    position: relative;
    margin: 0;
    cursor: pointer;
    &::after {
      content: "";
      width: 18px;
      height: 18px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -9px;
      margin-left: -9px;
    }
  }

  .cz-icon-image-upload {
    &::after {
      content: "";
      background: url($uploadIconUrl) left / cover no-repeat;
      opacity: 0.4;
    }
  }
  .cz-icon-video {
    &::after {
      content: "";
      background: url($videoIconUrl) left / cover no-repeat;
      opacity: 0.4;
    }
  }
  .cz-icon-smiles {
    &::after {
      content: "";
      background: url($emojiIconUrl) left / cover no-repeat;
      opacity: 0.6;
    }
  }
  .cz-emoji-block {
    &:hover {
      & .cz-emoji-box {
        display: block;
      }
    }
    .cz-emoji-box {
      margin-top: 0;
      height: 290px;
      overflow-y: auto;
      overflow-x: hidden;
      .cz-emoji-block {
        min-width: 16rem;
        .cz-emoji-element {
          padding: 2px 3px;
          margin: 1px;
          display: inline-block;
          border-radius: 10%;
          cursor: pointer;
          .cz-emoji-item {
            width: 32px;
            height: 32px;
            display: inline-block;
            background-image: url("../../img/emoji/emoji-many.png");
            background-size: 1344px;
            background-repeat: no-repeat;
            vertical-align: text-bottom;
          }
          &:hover {
            background-color: #797979;
          }
        }
      }
    }
  }
  .cz-emoji-view {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
    margin: 0 0.1rem;
  }
  .cz-attach {
    .cz-img-mini {
      position: relative;
      &:hover .cz-close {
        display: block;
      }
      .cz-close {
        position: absolute;
        background-color: #868fa2;
        color: #fff;
        padding: 0px 3px;
        font-size: 18px;
        line-height: 19px;
        right: 0;
        display: none;
      }
    }
  }
  .cz-video-play::after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: url($playVideoIconUrl) center / cover no-repeat;
  }
  .answer-block {
    position: relative;
    border-left-style: dashed !important;
    .more-comments-activate {
      margin-left: -28px;
      &.more-show {
        .more-comments-icon {
          top: 0;
          transform: rotate(135deg);
          transition-duration: 0.1s;
          position: absolute;
        }
        .more-comments-title {
          display: none;
        }
        &::before {
          height: 14px;
        }
      }
      .more-comments-icon {
        position: relative;
        cursor: pointer;
        width: 7px;
        height: 7px;
        border-top: #828282 solid 1px;
        border-right: #828282 solid 1px;
        transform: rotate(45deg);
        margin-right: 5px;
        display: inline-block;
        opacity: 0.7;
      }
      &::before {
        content: "";
        background-color: #ffffff;
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        left: -1px;
      }
    }
  }
  .cz-count-text {
    font-size: 12px;
  }
  .cz_block_size {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
      width: 100%;
      height: 100px;
      bottom: 0;
    }
  }
  .cz-input-text-block {
    resize: none;
    outline: none;
    overflow: hidden;
    margin: 0;
    background: transparent;
  }
  .cz-images-view-block {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000066;
    font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    z-index: 999;
    .cz-images-view-panel-control {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      // background-color: #0000009e;
      .cz-btn {
        font-size: 36px;
        line-height: 1.45;
        width: 60px;
        height: 60px;
        background: #101010;
        color: #fff;
        text-align: center;
        cursor: pointer;
        user-select: none;
      }
    }
    .cz-images-view-close {
      width: 60px;
      height: 60px;
      background: #101010;
      color: #fff;
      text-align: center;
      position: absolute;
      right: 0;
      top: 0;
      margin: 10px;
      cursor: pointer;
      user-select: none;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
    .cz-images-view-btn {
      margin: 0 8%;
      width: 60px;
      height: 60px;
      background: #101010;
      color: #fff;
      text-align: center;
      cursor: pointer;
      user-select: none;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
      &.cz-right {
        float: right;
      }
    }
  }
  .cz-text-select-0 {
    user-select: none;
  }
  .cz-rating-button-left:hover {
    color: #dc3545;
  }
  .cz-rating-button-right:hover {
    color: #22c792;
  }
  .modal.fade {
    display: none;
    &.show {
      display: block;
    }
  }
  .cz-text-view {
    word-break: break-word;
  }
  .cz-font-body {
    font-size: $fontBody;
  }
}

@media (max-width: $smallScreen) {
  #CommentZone {
    .cz-comments-body-header {
      font-size: 1.04rem;
    }
    .cz-avatar-block {
      .cz-avatar {
        width: $avatarSizeSmallScreen;
        height: $avatarSizeSmallScreen;
      }
    }
    .cz-font-body {
      font-size: $fontBodySmallScreen;
    }
    .cz-images-view-block {
      .cz-images-view-btn {
        width: 100%;
      }
    }
  }
}

@media (max-width: 460px) {
  #CommentZone {
    .cz-parent-name {
      display: none;
    }
  }
}
