<script type="text/x-template" id="recover-password-template">
  <div class="modal fade show">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h5 class="modal-title">{{ $root.language.reset_password }}</h5>
          <button type="button" class="btn-close" @click="$emit('close')"></button>
        </div>
        <div class="modal-body px-4">
          <form>
            <div v-if="emailInput" class="form-group mb-3">
              <label for="czResetEmail">{{ $root.language.email }}</label>
              <input v-model.trim="email" @input="errorMessage.email = ''" type="email" class="form-control" :class="errorMessage.email ? 'is-invalid' : ''" id="czResetEmail">
              <div class="invalid-feedback">{{ errorMessage.email }}</div>

              <div v-if="$root.config.recaptcha" id='czRecaptchaResetPassword' class="mt-4" :class="errorMessage.recaptcha ? 'is-invalid' : ''" @click="errorMessage.recaptcha === ''"></div>
              <div class="invalid-feedback">{{ errorMessage.recaptcha }}</div>
            </div>
            <div v-if="codeInput" class="form-group mb-3">
              <label for="czResetCode">{{ $root.language.approval_code }}</label>
              <input v-model.trim="code" @input="errorMessage.code = ''" type="text" class="form-control" :class="errorMessage.code ? 'is-invalid' : ''" id="czResetCode">
              <div class="invalid-feedback">{{ errorMessage.code }}</div>
            </div>
            <div v-if="passwordInput" class="form-group mb-3">
              <label for="czResetPassword1">{{ $root.language.new_password }}</label>
              <input v-model.trim="password" @input="errorMessage.password = ''" type="password" class="form-control" :class="errorMessage.password ? 'is-invalid' : ''" id="czResetPassword1">
              <div class="invalid-feedback">{{ errorMessage.password }}</div>
            </div>
            <div v-if="passwordInput" class="form-group mb-3">
              <label for="czResetPassword2">{{ $root.language.repeat_password }}</label>
              <input v-model.trim="password_repeat" @input="errorMessage.password_repeat = ''" type="password" class="form-control" :class="errorMessage.password_repeat ? 'is-invalid' : ''" id="czResetPassword2">
              <div class="invalid-feedback">{{ errorMessage.password_repeat }}</div>
            </div>
            <div v-if="systemMessage.show" class="form-group mb-3" :class="systemMessage.color">
              <span>{{ systemMessage.message }}</span>
            </div>
          </form>
        </div>
        
        <div class="modal-footer border-0 px-4">
          <button v-if="emailInput" type="button" class="btn btn-primary" @click="actionReset()">{{ $root.language.reset }}</button>
          <button v-if="codeInput" type="button" class="btn btn-primary" @click="actionCodeVerify()">{{ $root.language.send }}</button>
          <button v-if="passwordInput" type="button" class="btn btn-primary" @click="actionNewPassword()">{{ $root.language.send }}</button>
          <button type="button" class="btn btn-secondary" @click="$emit('close')">{{ $root.language.close }}</button>
        </div>
      </div>
    </div>
  </div>
</script>

<script>
  Vue.component('recover-password', {
    template: '#recover-password-template',
    data: function () {
      return {
        email: '',
        code: '',
        password: '',
        password_repeat: '',
        message: '',
        emailInput: true,
        codeInput: false,
        passwordInput: false,
        recaptchaToken: '',
        recaptchaVersion: 'v3',
        systemMessage: {
          show: false,
          color: '',
          message: '',
        },
        errorMessage: {
          email: '',
          code: '',
          password: '',
          password_repeat: '',
          recaptcha: '',
        }
      }
    },
    created() {
      this.recaptchaVersion = this.$root.config.recaptchaVersion;
      this.recaptchaRender('czRecaptchaResetPassword');
    },
    methods: {
      recaptchaRender: function (element) {
        if (this.recaptchaVersion === 'v2') {
          setTimeout(() => {
            try {
              grecaptcha.render(element, {
                "sitekey": this.$root.config.recaptchaKeyV2,
                'callback': (token) => {
                  this.recaptchaVersion = 'v2';
                  this.recaptchaToken = token;
                  this.errorMessage.recaptcha = '';
                }
              });
            } catch (error) { grecaptcha.reset() }
          }, 100);
        }
      },

      recaptchaVerify: function (fn) {
        axios.post(this.$root.apiPath, {
          action: 'recaptchaVerify',
          recaptchaToken: this.recaptchaToken,
          recaptchaVersion: this.recaptchaVersion
        }).then(response => {
          fn(response.data.success, response.data.error || '');
        });
      },

      recaptchaValidate: function (context, fn) {
        if (this.$root.config.recaptcha && this.$root.user.id === undefined) {
          if (!this.recaptchaToken) {
            if (this.recaptchaVersion === 'v3') {
              grecaptcha.execute(this.$root.config.recaptchaKeyV3).then((token) => {
                this.recaptchaToken = token;

                this.recaptchaVerify((success, error) => {
                  if (success) {
                    this.recaptchaToken = '';
                    this.recaptchaVersion = this.$root.config.recaptchaVersion;

                    fn(true);
                  } else {
                    if (this.$root.config.recaptchaVersion === 'v3') {
                      grecaptcha.render(context.contain, {
                        "sitekey": this.$root.config.recaptchaKeyV2,
                        'callback': (token) => {
                          this.recaptchaToken = token;
                          this.errorMessage.recaptcha = '';
                        }
                      });
                    }

                    fn(false);
                    return false;
                  }
                })
              });
            } else {
              try {
                grecaptcha.render(context.contain, {
                  "sitekey": this.$root.config.recaptchaKeyV2,
                  'callback': (token) => {
                    this.recaptchaToken = token;
                    this.errorMessage.recaptcha = '';
                  }
                });
              } catch (error) {
                grecaptcha.reset();

                fn(false);
                return false;
              }
            }
          } else {
            this.recaptchaVersion = 'v2';

            this.recaptchaVerify((success, error) => {
              if (success) {
                this.recaptchaToken = '';
                this.recaptchaVersion = this.$root.config.recaptchaVersion;

                fn(true);
              } else {
                fn(false);
                return false;
              }
            });
          }
        } else {
          fn(true);
        }
      },

      systemMessageShow: function (message, color = '') {
        this.systemMessage.show = true;
        this.systemMessage.color = color;
        this.systemMessage.message = message;
      },

      validateEmail: function (email, require = false) {
        if (require) {
          if (email === '') {
            this.errorMessage.email = this.$root.language.empty_field;
            return false;
          }
        }

        if (email !== '' && !/^[^@]+@[^@\.]+\.[^@\.]+$/g.test(email)) {
          this.errorMessage.email = this.$root.language.invalid_email;
          return false;
        }

        return true;
      },

      validatePassword: function (password, require = false) {
        if (require) {
          if (password === '') {
            this.errorMessage.password = this.$root.language.empty_field;
            return false;
          }
        }

        if (password !== '') {
          if (!/^[\wа-яА-ЯёЁ%*)?@#$~]+$/g.test(password)) {
            this.errorMessage.password = this.$root.language.only_letters_numbers_signs;
            return false;
          } else if (password.length < this.$root.config.minPass) {
            this.errorMessage.password = this.printf(this.$root.language.min_characters, this.$root.config.minPass);
            return false;
          } else if (password.length > this.$root.config.maxPass) {
            this.errorMessage.password = this.printf(this.$root.language.max_characters, this.$root.config.maxPass);
            return false;
          }
        }

        return true;
      },

      actionReset: function () {
        if (!this.validateEmail(this.email, true)) {
          return false;
        }

        this.recaptchaValidate({ contain: 'czRecaptchaResetPassword' }, (success) => {
          if (success) {
            axios.post(this.$root.apiPath, {
              action: 'resetPassword',
              email: this.email,
            }).then(response => {
              if (response.data === true) {
                this.emailInput = false;
                this.codeInput = true;
              }
            });
          } else {
            this.errorMessage.recaptcha = this.$root.language.recaptcha_confirm_bot;
          }
        })
      },
      actionCodeVerify: function () {
        if (this.code === '') {
          this.errorMessage.code = this.$root.language.empty_field;
          return false;
        }

        axios.post(this.$root.apiPath, {
          action: 'resetCodeVerify',
          email: this.email,
          code: this.code,
        }).then(response => {
          if (response.data === true) {
            this.codeInput = false;
            this.passwordInput = true;
          }

          if (response.data === 'time-over') {
            this.codeInput = false;
            this.systemMessageShow(this.$root.language.reset_code_time_over, 'text-danger');
          }

          if (response.data === 'error-code') {
            this.codeInput = false;
            this.systemMessageShow(this.$root.language.reset_code_invalid, 'text-danger');
          }
        });
      },
      actionNewPassword: function () {
        if (!this.validatePassword(this.password, true)) {
          return false;
        }

        if (this.password !== this.password_repeat) {
          this.errorMessage.password_repeat = this.$root.language.different_passwords;
          return false;
        }

        axios.post(this.$root.apiPath, {
          action: 'newPassword',
          email: this.email,
          code: this.code,
          password: this.password,
          password_repeat: this.password_repeat,
        }).then(response => {
          if (response.data === true) {
            this.passwordInput = false;
            this.email = '';
            this.code = '';
            this.password = '';
            this.password_repeat = '';
            this.systemMessageShow('Пароль изменен успешно!', 'text-success');
          }
        });
      }
    }
  });
</script>