$backgroundBody: #303c4a;
$textPale: #5c6775;
$borderPale: #5e6c7d;
$light: #b2bfcf;
$lightHover: #8293a9;
$form-feedback-invalid-color: #ff6271;
$primary: #4f6177;
$success: #0e9a87;
$danger: #e63656;
$blue: #3661d8;
$warning: #f7dc6a;
$dark: #2b3138;


$screenComments: #323940;
$input: #3d454e;
$block: #2b3035;
$buttons: #3c4552 /*#3b424c*/;
$buttonsHover: #47515f;
$buttonsText: #7e8894 /*#78828e*/;
$buttonsTextHover: #96a1af;
$buttonsOutline: #5c6979;
$informers: #343a40;
$switch: #0e9a87;

.btn-blue {
  background-color: $blue !important;
  border-color: $blue !important;
}
.text-blue {
  color: lighten($blue, 14%) !important;
}
.text-success {
  color: lighten($success, 10%) !important;
}
.text-danger {
  color: lighten($danger, 6%) !important;
}
.text-primary {
  color: lighten($primary, 18%) !important;
}
.bg-pale {
  background-color: $input !important;
}
.border-pale {
  border-color: $input !important;
}

#commentzone {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $backgroundBody !important;
  color: $light;
  a {
    color: $light;
    &:hover,
    &.active {
      color: $lightHover;
    }
  }
  .form-control {
    background-color: $input;
    border-color: $input;
    color: white;
    &:focus {
      box-shadow: 0 0 0 0.25rem rgb(60 65 72 / 25%);
    }
    &::placeholder {
      color: $textPale;
    }
    &.is-invalid {
      border-color: $form-feedback-invalid-color !important;
    }
  }
  .form-check-input {
    background-color: $input;
  }
  .bg-box {
    background-color: $screenComments;
  }
  .btn-approve {
    background: $success;
    color: #fff;
  }
  .btn-dark-blue {
    background-color: $buttons;
    border-color: $buttons;
    color: $buttonsText;
    &:hover {
      background-color: $buttonsHover;
      border-color: $buttonsHover;
      color: lighten($buttonsText, 12%);
    }
    &:focus {
      box-shadow: 0 0 0 0.25rem rgb(84 96 113 / 15%);
    }
    &:active {
      background-color: lighten($buttons, 10%);
      border-color: lighten($buttons, 10%);
      color: lighten($buttonsText, 12%);
    }
  }
  .btn-outline-light {
    border-color: $buttonsOutline;
    color: $buttonsText;
    &:hover {
      background-color: $buttonsHover;
      border-color: $buttonsHover;
      color: lighten($buttonsText, 12%);
    }
    &:focus {
      box-shadow: 0 0 0 0.25rem rgb(84 96 113 / 15%);
    }
    &:active {
      background-color: lighten($buttons, 10%);
      border-color: lighten($buttons, 10%);
      color: lighten($buttonsText, 12%);
    }
  }
  .bg-dark-blue {
    background-color: $block;
    color: $light;
  }
  .bg-light-blue {
    background-color: $light;
    color: #000;
  }
  .text-pale {
    color: $textPale !important;
  }
  .bg-input {
    background-color: $input;
    border-color: $input !important;
    color: white;
  }
  .modal {
    background-color: #000000ab;
    color: $light;
    .modal-content {
      background-color: $block;
    }
    &.show {
      display: block;
    }
  }
  .dropdown-item,
  a.dropdown-item {
    color: $light;
  }
  .pointer {
    cursor: pointer;
  }
  .form-check-input.input-switch {
    &:checked {
      background-color: $switch;
      border-color: $switch;
    }
  }
  .popover-block {
    position: relative;
    .popover {
      top: -64px;
      left: 15px;
      .popover-arrow {
        transform: translate(10px, 0px);
        &::after {
          border-top-color: $informers !important;
          border-right-color: $informers !important
        }
      }
      .popover-body {
        background: $informers;
      }
    }
  }
  .bi {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
  }
  .fs-small {
    font-size: 0.8rem !important;
  }
}